.logo a,
#royal_preloader.text .loader,
.cl-effect a span::before,
.big-text span,
.about-box1:hover .about-box-icon,
.about-box:hover .about-box-icon,
ul.slimmenu li a.mPS2id-highlight,
.facts-wrap h6,
.team article p span,
.list-social li.icon-soc a,
#sync1 .item h6,
.portfolio-box h4,
#button-con button span::before,
#sync3 .item a,
.services-top-text p span,
.icon-services,
.featured-price,
.post-wrap .icon-blog,
.video-text p,
.footer a,
.ajax-project-top-text p span,
.footer .back-top,
#wp-calendar tbody a:before,
.logged-in-as a,
.parallax-section .text-left p span,
.post-content a,
.pagination a:hover,
h5.post-title a:hover 	{
	color:#e67e22;
}
ul.slimmenu li a:hover {
    border-bottom:1px solid #e67e22;
}
.sub-text-line:after {
    border-top:1px dotted #e67e22;
}
.sub-text-line:before {
    border-top:1px dotted #e67e22;
}
.link-svgline a svg.link-svgline {
	stroke: #e67e22;
}
.link-svgline-getintouch p svg.link-svgline-getintouch {
	stroke: #e67e22;
}
#ajax-form textarea:focus,
#ajax-form input:focus,
#ajax-form textarea:active,
#ajax-form input:active {	
	border-bottom:2px solid #e67e22;
}
#sync4 .item:hover {
	border:2px solid #e67e22;
}
#sync4 .synced .item {
	border:2px solid #e67e22;
} 



/* #Blog and posts colors */


.post-sidebar input:active,
.post-sidebar input:focus,
.leave-reply input:active,
.leave-reply input:focus,
.leave-reply textarea:active,
.leave-reply textarea:focus {
	background: #e67e22;
}
.read-more p,
.read-more a,
.post-sidebar button,
.post-sidebar a:hover{
	color: #e67e22;
}
.widget_tag_cloud a:hover{
	background: #e67e22;
	border-color:#e67e22;
}
.post-sidebar button:hover {
	background: #e67e22;
}
.post.format-link > p:first-child,
span.hei-text{ 
	background: #e67e22;
}
.post.format-link > p:first-child{ 
	background: #e67e22;
}
.post.format-link > p:first-child:hover a{ 
	color: #e67e22;
}
.post.format-link > p:first-child:hover a:before,
.list-in-blog-content li span,
.comment-reply-link:hover,
.post-content-com-top p span,
.list-social-share li:hover.icon-soc-share a{ 
	color: #e67e22;
}
p.text-border-left{ 
	border-left:3px solid #e67e22;
}
#commentform #submit{
	color:#e67e22;
}
#commentform #submit:hover{
	background: #e67e22; 
}
.post.format-link > p:first-child 	{
	background: #e67e22; 	
}

.post.sticky 	{
	box-shadow: inset 0 0 0 2px #e67e22;
	-moz-box-shadow: inset 0 0 0 2px #e67e22;
	-webkit-box-shadow: inset 0 0 0 2px #e67e22;
}

#show {
	background: #e67e22 !important;
}


















